.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0185B6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #328924;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonStyle {
  font-family: 'Roboto', sans-serif; /* Usa la fuente Roboto */
  font-size: 16px; /* Tamaño de letra 16px */
  
  background-color: #328924; /* Fondo verde */
  color: white; /* Texto en color blanco */
  border: none; /* Sin bordes */
  padding: 20px 40px; /* Padding para dar forma elíptica */
  border-radius: 100%; /* Bordes redondeados para forma elíptica */
  cursor: pointer; /* Cambia el cursor a una mano cuando pasas sobre el botón */
  outline: none; /* Elimina el contorno que podría aparecer al hacer clic */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.buttonStyle:hover {
  background-color: #005700; /* Un verde más oscuro al pasar el mouse */
}

.App-p {
  font-family: 'Roboto', sans-serif;
}
.App-h1 {
  font-family: 'Roboto', sans-serif;
}

.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana del navegador */
  text-align: center; /* Centra el texto dentro del contenedor */
}

form {
  margin: 20px 0; /* Espaciado alrededor del formulario para no pegarse a otros elementos */
}

input, button {
  margin: 10px 0; /* Espaciado entre los elementos del formulario */
}
